.events-preview{
    padding: 10px 16px;
    margin: 20px 0;
    border-bottom: 1px solid #fafafa;
    width: 20%;
    margin: auto;
    /* position: relative; */
    border: 1px solid black;


    
}
.events-preview:hover{
    box-shadow: 1px 3px 5px;
}
.events-preview h2{
    font-size: 20px;
    color: #f1356d;
    margin-bottom: 8px;
}
.home{
    display: flex;
}
.eventContainer{
    display: flex;
    margin-top: 40px;
}
.cardImage{
    width: 50%;
    height: 100px;
}